.link {
    border: 2px solid var(--WhiteSmoke);
    border-radius: 10px;
    width: 150px;
    height: 50px;
    font-family: var(--Font-Sans);
    font-weight: 900;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: var(--WhiteSmoke);
}

.linkAtivo {
    border: 2px solid var(--BlueBorder);
    color: var(--BlueBorder);
    box-shadow: inset 0px 0px 10px var(--BlueBorder);
}