.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    font-family: var( --Font-Roboto);
    color: var(--WhiteSmoke);
    gap: 10px;
    padding-top: 60px;
}

.title {
    font-weight: 900;
    font-size: 60px;
}

.subtitle {
    font-weight: 400;
    font-size: 20px;
}